* {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
}

/* header section */
.container {
  width: 100%;
  height: 785px;
  background: rgba(255, 144, 14, 0.1);
}

nav {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  margin-left: 210px;
  font-weight: 650;
}

.menu {
  color: #424242;
  font-size: 18px;
  display: flex;
  width: 477px;
  height: 30px;
  list-style: none;
  gap: 30px;
  margin-right: 220px;
}

.brand-new {
  width: 822px;
  height: 155px;
  margin: 40px auto 0;
}

.brand-new-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 750;
}

.brand-new-desc {
  text-align: center;
  margin-bottom: -20px;
}

.explore-more-btn {
  width: 150px;
  height: 54px;
  margin: 0px 570px;
  border: none;
  color: white;
  background: #FF900E;
  border-radius: 8px;
  font-size: 17px;
}

.banner {
  width: 862px;
  height: 225px;
  margin: 28px auto;
}

/* main section styles */
main {
  background: white;
  width: 100%;

}

.features {
  height: 480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-img {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.features-desc {
  height: 600px;
  width: 400px;
  padding-top: 370px;
  padding-left: 25px;
}

.features-description {
  color: #727272;
  margin-top: 50px;
  margin-bottom: 10px;
}

.features-btn {
  width: 150px;
  height: 54px;
  border: none;
  color: white;
  margin-top: 10px;
  background: #FF900E;
  border-radius: 8px;
  font-size: 17px;
}

.features-gold {
  color: #FF900E;
}

.quick-list {
  color: #727272;
}

/* features that you will love and enjoy */
.features-for-others {
  width: 85%;
  height: 670px;
  margin: 60px auto;
  display: flex;
}
.features-love {
  height: 370px;
  width: 100%;
 margin-top: 38px;
}
.features-for-others div{
  margin-left: 15px;
  padding-top: 10px;
  width:80%;
}
.features-love-title{
 padding-left: 15px;
 border-left: 3px solid rgb(229, 168, 16);
}
.features-love-desc{
  color: #727272;
  padding: 10px 0;
}
.features-items div{
  width: 406px;
height: 111px;
  
}
.item-desc{
  color: #4f4e4e;
}
.features-love-img{
  background-image: url(images/architect.png);
background-size: cover;
}
.features-love-img button{
  height: 110px;
  width: 200px;
 padding: 30px;
margin-top: 550px;
transform: translate(-50%, 60%);
 background-color: rgb(187, 135, 3);
 border: none;
 color: white;
}
.button{
  font-size: 2.5rem;
  font-weight: 750px;
}
